@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&family=Rye&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e; 

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'Cursive';
}

 body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    margin: 0px;
 }

a.externo::after{
   content: '\1F517' ;
}
 header {
    background-image: linear-gradient(to bottom, var(--cor3), #1a5c37);
    text-align: center;
    min-height: 100px;
    padding-top: 30px; 
 }

 header > h1 {
    color: white;
    font-weight: normal;
    font-family: var(--font-destaque);
    text-shadow: 3px 3px 3px hsla(146, 82%, 13%, 0.5);
 }

 header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: auto;
    font-weight: normal;
    color: white;
    text-shadow: 3px 3px 3px hsla(146, 82%, 13%, 0.5);
 }

 nav{
    background-color: var(--cor4);
    font-family: var(--font-padrao);
    font-weight: bolder;
    text-decoration: none;
    color: white;
    box-shadow: 0px 5px 5px hsla(147, 82%, 13%, 0.5);
    padding-bottom: 10px;
 }

 nav > a{
   color: white;
   padding: 10px;
   text-decoration: none;
   border-radius: 3px;
   transition-duration: .3s;
 }

 nav > a:hover{
   background-color: #2fa866;
   color: #063d1e;
 }

 main{
    background-color: white;
    min-width: 200px;
    max-width: 700px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px hsla(146, 82%, 13%, 0.5)

 }

 main p {
   text-align: justify;
   text-indent: 30px;
   margin: 15px 0px;
   font-size: 1.1em;
   line-height: 1.5em;
 }

 main strong{
   color: #063d1e;
   padding: 2px 5px;
 }
 img {
    width: 100%;
 }

 main img.pequena{
    max-width: 300px;;
    display: block;
    margin: auto;
 }

 main h1{
   color: var(--cor5);
   font-family: var(--font-android);
   background-image: linear-gradient(to right, #3ddc84, transparent);
   box-shadow: 3px 3px 3px hsla(146, 82%, 13%, 0.5);
   padding-left: 8px;  
   font-weight: normal;
   font-size: 1.8em;
}

 main h2{
    color: var(--cor5);
    font-family: var(--font-android);
    background-image: linear-gradient(to right, #3ddc84, transparent);
    box-shadow: 3px 3px 3px hsla(146, 82%, 13%, 0.5);
    padding-left: 8px;  
    font-weight: normal;
    font-size: 1.2em;
 }

 main a{
   color: #063d1e;
   font-family: var(--font-padrao);
   font-weight: bolder;
 }

 main a:hover{
   background-color: #1a5c37;
   color: var(--cor1);
 }

 div.video{
   background-color: #063d1e;
   margin: 0px -20px 30px -20px;
   padding: 59px;
   padding-bottom: 50%;
   position: relative;
 }

 div iframe{
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
 }

 aside{
      background-color: #83e1ad;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
 }

 aside h3{
   background-color: #1a5c37;
   color: white;
   text-indent: 10px;
   margin: -10px;
   padding: 10px 10px 5px 10px;
   border-radius: 10px 10px 0px 0px;
 }

 aside ul{
   list-style: '\6417';
   padding-left: 15px;
   list-style: inside;
   columns: 2;
 }
 
 footer{ 
    background-color: var(--cor5);
    color: white;
    margin-top: 10px;
    padding: 8px; 
    text-align: center;
}

footer a{
   text-decoration: underline;
   color: white;
   font-weight: bolder;
}

footer a:hover{
   color: #3ddc84;
   text-decoration: underline;

}