@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    background-image: linear-gradient(to bottom, #F2F2F2, #F27A5E, #F2441D);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(11, 77%, 26%, 0.603);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-shadow: 1px 1px 2px hsla(11, 77%, 26%, 0.719);
    text-align: center;
    color: #F24F1B;
}

h2 {
    color: #7A38A6 ;
}

p {
    text-align: justify;
}