@charset "UTF-8";

       body {
           background-color: rgb(220, 182, 255);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: justify;
        }
        h1{      
           color: darkorange;
        }
        h2{
            color: blueviolet;
        }
