@charset "UTF-8";

*{
    margin: 0px;
    border: 0px;
}

html, body{
    min-height: 100vh;
    background-color: white;
}

* a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

* a:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}

header h1{
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

section.normal{
    background-color: rgb(253, 253, 253);
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
}

section{
    line-height: 2em;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer{
    background-color: black;
    color: white;
}

footer p{
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
}